* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}

body {
  background-image: url(../images/bg-mobile.svg);
  background-color: #674baf;
  background-repeat: no-repeat;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  text-align: center;
}

.container {
  margin: 0 auto;
  padding: 1rem;
  max-width: 1440px;
}

.logo {
  width: 30%;
  margin: 1rem;
}

.hero {
  margin: 2rem 1rem;
}

.hero .hero__body {
  margin: 2rem 1rem;
  display: -ms-grid;
  display: grid;
  gap: 2rem;
}

.hero .hero__body .description {
  line-height: 1.6;
}

.hero .hero__body .cta {
  text-decoration: none;
  background-color: #ffffff;
  width: 80%;
  padding: 0.8em 1.5em;
  margin: 0 auto;
  border-radius: 25px;
  -webkit-box-shadow: 0 5px 8px 5px #674baf;
          box-shadow: 0 5px 8px 5px #674baf;
}

.fab {
  border-radius: 50%;
  border: 1px solid white;
  padding: 10px;
  margin: 0 0.25rem;
}

.fa-facebook-f {
  padding: 10px 12px;
}

@media (min-width: 768px) {
  body {
    background-image: url(../images/bg-desktop.svg);
    background-position: center top;
  }
  .container {
    margin: 2rem auto;
  }
  .hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 2rem;
  }
  .hero .hero__image {
    width: 50%;
  }
  .hero .hero__body {
    text-align: left;
    width: 35%;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .hero .hero__body .title {
    font-size: 2.5rem;
  }
  .hero .hero__body .description {
    margin: 0;
  }
  .hero .hero__body .cta {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0;
    padding: 0.8em 3em;
    display: block;
  }
  .hero .hero__body .cta:hover {
    background-color: #e882e8;
    color: #ffffff;
  }
  .social-icons {
    text-align: right;
    margin-right: 10rem;
  }
  .fab:hover {
    color: #e882e8;
    border-color: #e882e8;
    cursor: pointer;
  }
}
