@import 'config';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}

body {
  background-image: url(../images/bg-mobile.svg);
  background-color: $bg-color;
  background-repeat: no-repeat;
  color: $primary-color;
  font-family: $font-body;
  text-align: center;
}

.container {
  margin: 0 auto;
  padding: 1rem;
}

.logo {
  width: 30%;
  margin: 1rem;
}

.hero {
  margin: 2rem 1rem;

  .hero__body {
    margin: 2rem 1rem;
    display: grid;
    gap: 2rem;
    .description {
      line-height: 1.6;
    }
    .cta {
      text-decoration: none;
      background-color: $primary-color;
      width: 80%;
      padding: 0.8em 1.5em;
      margin: 0 auto;
      border-radius: 25px;
    }
  }
}

.fab {
  border-radius: 50%;
  border: 1px solid white;
  padding: 10px;
  margin: 0 0.25rem;
}

.fa-facebook-f {
  padding: 10px 12px;
}
