@import 'config';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}

body {
  background-image: url(../images/bg-mobile.svg);
  background-color: $bg-color;
  background-repeat: no-repeat;
  color: $primary-color;
  font-family: $font-body;
  text-align: center;
}

.container {
  margin: 0 auto;
  padding: 1rem;
  max-width: 1440px;
}

.logo {
  width: 30%;
  margin: 1rem;
}

.hero {
  margin: 2rem 1rem;

  .hero__body {
    margin: 2rem 1rem;
    display: grid;
    gap: 2rem;
    .description {
      line-height: 1.6;
    }
    .cta {
      text-decoration: none;
      color: $bg-color;
      background-color: $primary-color;
      width: 80%;
      padding: 0.8em 1.5em;
      margin: 0 auto;
      border-radius: 25px;
      box-shadow: 0 5px 8px 5px $bg-color;
    }
  }
}

.fab {
  border-radius: 50%;
  border: 1px solid white;
  padding: 10px;
  margin: 0 0.25rem;
}

.fa-facebook-f {
  padding: 10px 12px;
}

@media (min-width: 768px) {
  body {
    background-image: url(../images/bg-desktop.svg);
    background-position: center top;
  }

  .container {
    margin: 2rem auto;
  }
  .hero {
    display: flex;
    gap: 2rem;
    .hero__image {
      width: 50%;
    }

    .hero__body {
      text-align: left;
      width: 35%;
      align-self: flex-start;
      .title {
        font-size: 2.5rem;
      }
      .description {
        margin: 0;
      }
      .cta {
        width: fit-content;
        margin: 0;
        padding: 0.8em 3em;
        display: block;
        &:hover {
          background-color: $hover-color;
          color: $primary-color;
        }
      }
    }
  }

  .social-icons {
    text-align: right;
    margin-top: 5rem;
    margin-right: 10rem;
  }

  .fab:hover {
    color: $hover-color;
    border-color: $hover-color;
    cursor: pointer;
  }
}
